* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto mono', monospace;
    overflow: hidden;
}

/* ------------------------------ Container Section ------------------------------ */

.container {
    background: url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    transition: 0.9s;
}


/* Activation of blur effect */
.container#blur.active {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    transition: 0.9s;
}

/* ------------------------------ Main Section ------------------------------ */

/* Header title */
.title {
    color: #E6AC44;
    font-size: 3.5em;
    font-family: 'Ephesis', cursive;
    text-shadow: 2px 5px 5px #CCB364;
    margin-left: 1rem;
}

.nav-favs {
    color: #CCB364;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: right;
    margin-right: 1rem;
}

.nav-favs:hover {
    color: #dfa241;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    align-items: center;
    justify-content: baseline;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid rgba(204, 179, 100, 0.3);
}

nav img {
    width: 65px;
    padding: 15px;
    opacity: 0.7;
}


/* Music button */

.cont-music {
    width: 100%;
    float: right;
}

.cont-music button {
    width: 50px;
    margin: 20px 36px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

.cont-music button.active {
    animation: flicker 3s infinite both;
}

@keyframes flicker {
    0% {box-shadow: 0px 0px -5px #CCB364, 0px 0px -5px #CCB364;}
    50% {box-shadow: 10px 0px 15px rgba(255, 255, 0, 0.6), -10px 0px 15px rgba(255, 255, 0, 0.6)}
}

.cont-music img {
    height: 20px;
}


/* Main font */
main div p {
    color: #bebebe;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #ccc;
    margin-left: -0.5rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.intro-div {
    margin-top: 12rem;
}

.intro-div p {
    text-shadow: 2px 2px 1px black;
}

.question-div {
    margin-top: 5%;
}

.question-div p {
    font-size: 1rem;
    text-shadow: 2px 2px 1px rgba(73, 38, 6);    
}


/* Input edition */
input[type="text"] {
    min-height: 70px;
    min-width: 50%;
    /* width: 80%; */
    margin-top: 1em;
    line-height: 40px;
    border-style: none;
    outline: 0;
    text-align: center;
    background: rgba(255, 145, 55, 0.3);
    border-radius: 20px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 1px rgb(73, 38, 6);
    justify-content: center;
    box-shadow: 5px 5px 22px 1px black,
                inset 2px 2px 2px 2px rgba(255, 255, 255, 0.1);                ;
}

.input-div {
    display: flex;
    place-items: center;
    justify-content: center;
    margin: 0px 0.5rem;
}

.btn {
    margin: 20px auto;
    display: flex;
}

button {
    margin: 3em auto;
    width: 5.5rem;
    height: 2rem;
    background: #b66223;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 2px;
    opacity: 0.8;
}

button:hover {
    background: #dfa241;
    transition: 1s;
}


/* ------------------------------ Fireflies Section ------------------------------ */

.fireflies :nth-child(1),
.fireflies :nth-child(2),
.fireflies :nth-child(3),
.fireflies :nth-child(4),
.fireflies :nth-child(5) {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 15%;
    left: 20%;
    background-color: fuchsia;
    transform: rotate(170deg);
    animation: flying-1 70s ease alternate infinite;
}

.fireflies :nth-child(2){
    position: absolute;
    top: 40%;
    left: 90%;
    background-color: greenyellow;
    transform: rotate(-90deg);
    animation: flying-2 55s ease alternate infinite;
}

.fireflies :nth-child(3){
    top: 90%;
    left: 30%;
    background-color: goldenrod;
    transform: rotate(100deg);
    animation: flying-3 47s ease-in infinite;
}

.fireflies :nth-child(4){
    top: 80%;
    left: 80%;
    background-color: skyblue;
    animation: flying-3 70s ease-in-out alternate infinite;
}

.fireflies :nth-child(5){
    top: 20%;
    left: -5%;
    background-color: skyblue;
    animation: flying-5 80s ease-in-out alternate infinite;
}

@keyframes flying-1 {
    50% {
        transform: translate(-350px, 700px);
    }
    60% {
        transform: translate(-350px, 700px) rotate(80deg);
    }
    100% {
        transform: translate(200px, 650px) rotate(260deg);
    }
}

@keyframes flying-2 {
    33% {
        transform: translate(-250px, 35px);
    }
    67% {
        transform: translate(-100px, -200px) rotate(180deg);
    }
    100% {
        transform: translate(100px, 200px) rotate(-90deg);
    }
}

@keyframes flying-3 {
    50% {
        transform: translate(350px, 50px);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes flying-4 {
    50% {
        transform: translate(50px, 500px);
    }
}

@keyframes flying-5 {
    50% {
        transform: translate(550px, 100px) rotate(180deg);
    }
    100% {
        transform: translate(700px, 300px) rotate(360deg);
    }
}


/* ------------------------------ Footer Section ------------------------------ */

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: baseline;
    height: 80px;
    margin-top: auto;
    color: transparent;
    border: transparent;
    background: transparent;
    transition-property: all;
}

footer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(204, 179, 100, 0.15);
    color: rgba(204, 179, 100, 0.3);
    transition-duration: 1s;
}

footer p {
    margin: auto;
}


/* ------------------------------ Response Section ------------------------------ */

.response {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.9s;
    width: 100%;
}


/* Apparition of response */
.response.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.9s;
}

.resp-question {
    max-width: 40rem;
    margin: auto;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 10px;
    background-color: rgba(252, 140, 140, 0.15);
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}

.resp-question p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}


/* Profile photo */
.resp-photo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 3em auto 1em auto;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.9);
}

.resp-photo img {
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%;
}

.resp-content-container {
    background-color: rgba(231, 159, 52, 0.4);
    border-radius: 10px;
    margin: 10px auto; 
    /* With: Atribute to change with @mediaqueries */
    width: 60%;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.8);
}

.resp-content-top {
    min-height: 10px;
    display: flex;
    position: relative;
}


/* Quotation marks */
.resp-quotmark-container {
    display: flex;
    position: absolute;
    right: 0.5%;
    top: -10%;
}

.resp-content-top img, .resp-quotmarkclose img {
    height: 3.5rem;
    padding: 5px;
    margin: 0 15px 0 15px;
}

.resp-quotmarkclose {
    min-height: 4em;
}

.resp-quotmarkclose img {
    float: right;
    margin-top: -7px;
    opacity: 0.7;
}

.resp-quotmarkopen {
    opacity: 0.7;
}


/* Icons */
.resp-favs, .resp-copy {
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../img/iconclipboard.png);
    background-size: cover;
    cursor: pointer;
    margin: 17px 8px 0 0;
}

.resp-copy:hover, .resp-favs:hover {
    height: 1.7rem;
    width: 1.7rem;
}

.resp-favs {
    background-image: url(../img/iconheart.png);
}

.resp-content {
    font-size: 5vh;
    padding: 0px 2em;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Times New Roman', Times, serif;
}

.resp-button-div {
    width: 100%;
    display: flex;
    margin: 40px 0 20px 0;
}

.resp-icon p {
    height: 1.5rem;
    margin: 18px 8px 0 0;
    font-weight: bold;
}


/* Button */
.resp-button {
    min-width: 170px;
}

.resp-button a {
    text-decoration: none;
    color: black;
}


/* ------------------------------ Favorites Section ------------------------------ */

.cont-favs {
    min-width: 70%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    visibility: hidden;
    max-height: 70vh;
}

.cont-favs.active {
    visibility: visible;
    top: 50%;
    opacity: 1;
    transition: 0.9s;
}


/* Scrollbar */
.cont-favs.active::-webkit-scrollbar {
    width: 4px;
}

.cont-favs.active::-webkit-scrollbar-thumb {
    background: transparent;
}


/* Favourites phrases */
.favs-p {
    border-radius: 10px;
    min-height: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    margin: 10px 1px;
    padding: 0px 2px;
}

.favs-p.active {
    visibility: hidden;
}

.cont-favs h1 {
    color: rgba(231, 159, 52, 0.8);
    text-align: center;
    padding: 15px;
}

.cont-favs p {
    text-align: center;
    background-color: rgba(231, 159, 52, 0.2);
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.7);
    margin: 10px 0px;
}

.cont-favs button {
    margin: auto;
}

.favs-back-btn {
    min-height: 100px;
    width: 100%;    
    margin: auto;
    display: flex;
}

#favs-back-btn img {
    margin-top: 3px;
    height: 70%;
    /* background-color: white; */

}

/* ------------------------------ Media Queries ------------------------------ */

@media screen and (max-width: 1560px) {
    input[type="text"]{
        width: 60%;
    }
}

@media screen and (max-width: 1300px) {
    input[type="text"]{
        width: 70%;
    }
}

@media screen and (max-width: 1120px) {
    input[type="text"]{
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    input[type="text"]{
        width: 100%;
    }
}

/* General Cellphones Viewport */
@media screen and (max-width: 414px) {
    input[type="text"]{
        width: 100%;
        min-height: 30px;
        font-size: 0.93rem;
        text-shadow: 1px 1px 1px rgb(73, 38, 6);
    }
    .title {
        font-size: 2.5rem;
    }
    .nav-favs {
        font-size: 0.7em;
        margin-top: 7px;
    }
    .cont-music button {
        height: 20px;
        width: 40px;
        margin: 10px 32px 0px;
    }
    .cont-music img {
        height: 15px;
    }

    .intro-div {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
    .intro-div p {
        font-size: 0.9rem;
    }
    main div p {
        font-size: 1em;
    }
    .question-div p {
        font-size: 0.7em;
    }
    .btn button {
        height: 20px;
        width: 55px;
        font-size: 0.7em;
    }
    p {
        font-size: 0.7em;
    }
    .resp-quostion {
        width: 30px;
    }
    .resp-content-container {
        width: 90%;
    }
    .resp-question {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        height: 2rem;
    }
    .resp-question p {
        font-size: 0.6rem;
    }
    .resp-photo, .resp-photo img {
        width: 100px;
        height: 100px;
    }
    .resp-quotmarkclose {
        min-height: 2em;
    }
    .resp-quotmarkopen img, .resp-quotmarkclose img {
        height: 2em;
        margin: auto 5px auto 5px;
    }
    .resp-favs, .resp-copy {
        height: 1.3rem;
        width: 1.3rem;
        margin: 10px 7px 0 0;
    }
    .resp-favs:hover, .resp-copy:hover {
        height: 1.3rem;
        width: 1.3rem;
        margin: 10px 7px 0 0;
    }
    .resp-icon p {
        font-size: 0.7rem;
        margin: 12px 8px 0 0;
    }
    .resp-content {
        font-size: 1.5rem;
        padding: 0px 4px;
        margin: 10px 0px;
    }
    button {
        height: 20px;
        font-size: 0.55rem;
    }
    .cont-favs {
        width: 90%;
    }
    .cont-favs h1 {
        font-size: 20px;
        padding: 15px 0px;
        margin-bottom: 15px;
    }
    .cont-favs p {
        padding: 5px;
        line-height: 1.5rem;
    }
    .favs-back-btn button img {
        height: 15px;
    }
    #favs-back-btn img {
        margin-top: 1.7px;
    }
}