* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

span {
    color: #E6AC44;
    font-size: 3.5em;
    font-family: 'Ephesis', cursive;
    text-shadow: 2px 5px 5px #CCB364;
}

nav {
    /* border: 1px solid yellow; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: baseline;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid rgba(204, 179, 100, 0.3);
}

nav img {
    width: 65px;
    padding: 15px;
    opacity: 0.7;
}

main div p {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    color: #bebebe;
    text-align: center;
    font-size: 1.4em;
    margin-top: 0.5em;
}

.intro-div {
    /* border: 1px solid yellow; */
    margin: 8.5% 35% 0px 35%;
}

.question-div {
    margin-top: 5%;
    /* border: 1px solid yellow; */
}

.question-div p {
    font-size: 1em;
}

input[type="text"] {
    width: 50%;
    min-height: 100px;
    margin-top: 1%;
    line-height: 40px;
    border-style: none;
    outline: 0;
    text-align: center;
    background-color: whitesmoke;
    opacity: 0.22;
    border-radius: 40px;
    font-size: 2em;
    font-family: 'Roboto Mono', monospace;
    color: darkred;
    box-shadow: 2px 2px 5px 5px black;
}

input[type="text"]::after {
    content: "?";
}

.input-div {
    display: flex;
    /* border: 1px solid fuchsia; */
    min-height: 30px;
    justify-content: center;
}

.btn {
    margin: 20px auto;
    display: flex;
}

button {
    margin: auto;
    width: 5.5em;
    height: 2em;
    background-color: #CCB364;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: baseline;
    height: 80px;
    margin-top: auto;
    color: transparent;
    border: transparent;
    background: transparent;
    transition-property: all;
}

footer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(204, 179, 100, 0.15);
    color: rgba(204, 179, 100, 0.3);
    transition-duration: 1s;
}

footer p {
    margin: auto;
}